a:link, a:visited, #content a:link, #content a:visited, dl.portlet a:link, dl.portlet a:visited {
    color: #00007f;
}

#portal-globalnav .selected a, #portal-globalnav a:hover {
    background-color: #175f80;
}

#contentActionMenus,
dl.actionMenu.activated dd,
#content-views,
#edit-bar {
	background-color: #005478;
	border-color: #005478;
}

#portal-personaltools-wrapper .actionMenu a {
	background-color: #e3e3e3 !important;
}

dl.actionMenu a {
	background-color: #005478 !important;
}

#contentActionMenus dl.actionMenu.activated dd {
    border-bottom: 0.5em solid #005478;
}
#contentActionMenus dl.actionMenu a, #contentActionMenus dl.actionMenu.activated dd {
    background-color: #005478;
}


#portal-globalnav {
    background: #25a5d9;
}

#portal-globalnav .selected a:hover {
    background: #25a5d9;
    color: #fff;
}

#portal-globalnav li a {
    background: #25a5d9;
    padding: 0.9em 1em 1em;
    color: #fff;
}

#portal-globalnav {
    font-size: 100%;
}




div.botaoPortlet {
    background: none repeat scroll 0 0 #175f80;
    border-radius: 0em;
    font-size: 100%;
    margin: 0.5em auto 1em;
    padding: 0.5em;
    text-align: center;
  color: white !important;
}

div.botaoPortlet:hover {
    background-color: #25A5D9;
  color: white !important;
}

div.botaoPortlet a{
  color: white !important;
  display: block;
  padding: 0.3em 0.5em;
}


div.botaoPortlet a:visited{
   color: fff !important;
}

.titulo-portlet {
    color: #26A7DF;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
}

.titulo {
    color: #26A7DF;
    font-size: 30px;
    font-weight: bold;
    margin-top: 19px;
    text-align: center;
    text-transform: uppercase;
}
