
div.botaoPortlet {
    background: none repeat scroll 0 0 #e29400;
    border-radius: 0em;
    font-size: 100%;
    margin: 0.5em auto 1em;
    padding: 0.5em;
    text-align: center;
    color: #fff !important;
}

div.botaoPortlet:hover {
    background-color: #421213;
    color: #fff !important;
}

div.botaoPortlet a{
  color: #fff !important;
  display: block;
  padding: 0.3em 0.5em;
}


div.botaoPortlet a:visited{
   color: fff !important;
}

.titulo-portlet {
    color: #421213;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
}

.titulo {
    color: #421213;
    font-size: 30px;
    font-weight: bold;
    margin-top: 19px;
    text-align: center;
    text-transform: uppercase;
}



#portal-globalnav {
    clear: both;
    font-size: 80%;
    background: #421213;
    margin: 0 0 1em 0;
}

#portal-globalnav .selected a:hover {
    background: #ddd;
    color: #FCA61B;
}
#portal-globalnav .selected a, #portal-globalnav a:hover {
    background: #FCA61B;
    color: White;
}

#portal-globalnav li a {
    background: #421213;
    color: #eee;
}

#portal-footer {
font-size: 75%;
    background: #421213;
    margin: 1em 0;
    line-height: 0.5em;
    padding: 0;
    height: 2px;
}


#content a {
    color: #421213 !important;
}

#content a:hover {
    color: #FCA61B !important;
}
